---
import Card from '../Card.astro'

---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Mathis, a Fullstack developer based in France 🇫🇷.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Flutter</li>
        <li>React</li>
        <li>Node.js</li>
        <li>GraphQL</li>
        <li>Next.js</li>
        <li>MongoDb/SQL</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Outside of coding, I enjoy problem-solving and performance optimization. I'm passionate about music (piano, saxophone, guitar) and rock climbing, although it's been a while since I've been on the wall!
    </p>
  </div>
</Card>
