---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">
        Let's start working together!
      </h1>
    </header>
    <address class="mt-4 flex flex-col">
      <h2 class="text-gray-500">Contact Details</h2>
      <p>mathis.zerbib@gmail.com</p>
      <p>Paris and Montpellier, France 🇫🇷</p>
    </address>
    <div class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank" class="hover:text-orange-600 hover:underline">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank" class="hover:text-orange-600 hover:underline" >Github</a>
        </li>
        <li>
          <a href={LINKS.instagram} target="_blank" class="hover:text-orange-600 hover:underline">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
