---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
// import Player from '../player.astro'
// import {PLAYLISTS} from '../../lib/constants'
// import ReactPlayer from 'react-player';
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  title="Instagram DJ Sets"
  href={LINKS.instagram}
>
  <div class="flex h-full w-full flex-col justify-around">
    <div>
      <img
        width="50"
        height="50"
        src="/zer.png"
        class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100 duration-1000 group-hover:duration-1000 group-hover:scale-110 group-hover:animate-pulse"
        alt="memoji of mathis with a headphone on his head"
      />
    </div>
    <div>
      <p class="mt-2 text-sm text-muted-foreground">
        If you want to listen my dj sets, you can follow me on Instagram.
      </p>
    </div>
  </div>
</Card>
